<nav class="navbar">
  <div class="nav-container">
    <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-button">
      Home
    </button>
    <button routerLink="/friendships" routerLinkActive="active" class="nav-button">
      Friendships
    </button>
    <button routerLink="/playlists" routerLinkActive="active" class="nav-button">
      Playlists
    </button>

    <img src = "https://fijpdjpxtgloemoagnbf.supabase.co/storage/v1/object/sign/Organizarea/covers/pisicaSketch.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV8yMGJiMGIzYS1jMDkxLTRmNTItYTY0OC0yZjllYTU3YmU0NzkiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJPcmdhbml6YXJlYS9jb3ZlcnMvcGlzaWNhU2tldGNoLnBuZyIsImlhdCI6MTc2ODU2NDcyMCwiZXhwIjoxODAwMTAwNzIwfQ.zDNn5tRsR4ohSJmBzMPq_jNzaJg5Xp-oz0kjN_HkJK8" class= "imag">
  </div>
</nav>
